*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../src/images/wallpaper2.jpg);
  background-size: cover;
}

h1 {
  color: white;
  font-size: 60px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}